.confirm-email{
  min-height: 100vh;
  h1{
    max-width: 500px;
    text-align: center;
    color: #dddddd;
    margin-bottom: 50px;
  }
  a{
    display: flex;
    justify-content: center;
    text-decoration: none;
  }
}
