.auth .row .col-12 h1 {
  color: #DDDDDD;
}
.auth .row .col-12 form {
  max-width: 400px !important;
}
.auth .row .col-12 form .input {
  width: 48%;
  border-bottom: 1px solid #919190;
  position: relative;
  transition: 1s;
  height: 40px;
}
.auth .row .col-12 form input {
  background: transparent;
  color: #DDDDDD;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  border-bottom: none;
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
  position: relative;
}
.auth .row .col-12 form .input::after {
  content: "";
  position: absolute;
  background: transparent;
  border-bottom: 1px solid white;
  width: 0;
  height: 100%;
  opacity: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  transition: 0.2s;
}
.auth .row .col-12 form .input:focus-within::after {
  width: 100%;
  opacity: 1;
}
.auth .row .col-12 form .email, .auth .row .col-12 form .username {
  width: 100%;
}

.login .input {
  width: 70% !important;
}

.navbar .navbar-brand {
  color: #FF0032;
  font-weight: bold;
}
.navbar .nav-link, .navbar .nav-link-in {
  color: #dddddd;
  text-decoration: none;
}
.navbar .nav-link:hover {
  color: #dddddd;
}
.navbar .nav-link:focus {
  color: #dddddd;
}
.navbar .nav-link-in {
  position: relative;
}
.navbar .nav-link-in:hover::after {
  width: 100%;
}
.navbar .nav-link-in::after {
  transition: 0.3s;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1%;
  border-bottom: 1px solid #FF0032;
}
.navbar .active a {
  border-bottom: 1px solid #FF0032 !important;
}

.confirm-email {
  min-height: 100vh;
}
.confirm-email h1 {
  max-width: 500px;
  text-align: center;
  color: #dddddd;
  margin-bottom: 50px;
}
.confirm-email a {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.create-pomodoro select, .create-pomodoro input {
  color: black;
}

.from-button {
  position: relative;
  width: 150px;
  height: 40px;
  border: 1px solid #919190;
  border-radius: 5px;
  outline: none;
  color: #DDDDDD;
  background: transparent;
  margin-top: 20px !important;
  transition: 0.3s;
}

.from-button:hover::after {
  opacity: 1;
  width: 116%;
  left: -8%;
}

.from-button:hover {
  border-color: white;
}

.from-button::after {
  border-left: 1px solid #919190;
  border-right: 1px solid #919190;
  border-radius: 5px;
  content: "";
  position: absolute;
  opacity: 0;
  transition: 0.3s;
  width: 100%;
  height: 100%;
  background: transparent;
  left: 0;
  top: 0;
  bottom: 0;
}

.from-button:disabled {
  pointer-events: none;
  cursor: not-allowed;
}

.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader .donut {
  width: 5rem;
  height: 5rem;
  margin-bottom: 10rem;
  border-radius: 50%;
  border: 0.3rem solid rgba(255, 255, 255, 0.3);
  border-top-color: white;
  animation: 1.5s spin infinite linear;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

body {
  background: #1c0034 !important;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: #dddddd;
}

/*# sourceMappingURL=style.css.map */
